---
import Layout from '../layouts/Layout.astro';
const pageTitle = "Home";
---
<Layout pageTitle={pageTitle}>
    <div class="image-cropper">
        <img width=300px height=510px src="/ava.png"/>
    </div>
    <h1>Vy Nguyen</h1>
    
    <small>Data Enthusiast | AI Aficionado</small>
    <h2>About</h2>
    <p>
        Hello, I'm Vy Nguyen, from Hanoi, Vietnam and currently staying in Boston, MA. I am in my senior year at Boston University, 
        where I am pursuing a major in Data Science and a minor in Business Administration and Management. 
        My academic journey is driven by a strong passion for delving into the foundational theories and 
        practical implementations of AI/ML, Data Science, Analytics, Engineering, and Research.

    </p>
    <p>
        I am excited to share my journey and the projects that have shaped my understanding and skills 
        in these areas. Please feel free to explore my portfolio to see the work that I have been dedicatedly involved in.
    </p>
    <div class="button">
        <a href="/works/">
            <button class="button">My projects</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="link-images">
        <img width="46" height="46" alt="Python" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-plain-wordmark.svg"/>
        <img width="46" height="46" alt="Java" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/java/java-plain-wordmark.svg"/>
        <img width="46" height="46" alt="PHP" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/php/php-original.svg"/>
        <img width="46" height="46" alt="Jupyter" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/jupyter/jupyter-original-wordmark.svg"/>
        <img width="46" height="46" alt="Azure" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/azure/azure-original-wordmark.svg"/>
        <img width="46" height="46" alt="CSS" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain-wordmark.svg"/>
        <img width="46" height="46" alt="HTML" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain-wordmark.svg"/>
        <img width="46" height="46" alt="JavaScript" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"/>
        <img width="46" height="46" alt="MySQL" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-plain-wordmark.svg"/>
        <img width="46" height="46" alt="PostGre" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-plain-wordmark.svg"/>
        <img width="46" height="46" alt="GitHub" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"/>
        <img width="46" height="46" alt="Docker" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-plain-wordmark.svg"/>
        <img width="46" height="46" alt="Figma" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"/>
        <img width="46" height="46" alt="FileZilla" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/filezilla/filezilla-plain.svg"/>
        <img width="46" height="46" alt="PyTorch" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytorch/pytorch-original-wordmark.svg"/>
        <img width="46" height="46" alt="VSCode" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"/>
        <img width="46" height="46" alt="Pandas" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pandas/pandas-original.svg"/>
        <img width="46" height="46" alt="Linux" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linux/linux-original.svg"/>


    </div>
    <h2>Interests</h2>
    <p>
        Full-time student, part-timer eater.
    </p>
    <p>
        I enjoy cooking, baking, and trying out new foods. If I don't end up 
        working as a Data Scientist, Data Analyst, or ML/AI Engineer, 
        you'll probably find me pursuing my other passion: being a food blogger.
    </p>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        background: rgba(0,0,0,0);
        border: 2px solid #78c2ad;
        border-radius: 8px;
        color: #fdebf3;
        font: 600 16px 'Josefin Sans', sans-serif;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #78c2ad;
        color: #1e1e2e;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
